{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Hello world!</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
</head>
<body>
	Hi there
	<a href="#">index</a>
	<a href="#collection">collection</a>
	<a href="#postcard">postcard</a>
	<div id="container"></div>

	<script type="text/template" class="js-template-collection">
		<span class="id"><%- id %></span>
		<span class="name"><%- name %></span>
		<span class="parent"><%- parent %></span>
	</script>
	<script type="text/template" class="js-template-postcard">

	</script>


	<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/underscore-min.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/backbone-min.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/app.js' %}" type="text/javascript"></script>
</body>
</html>
